<section class="p-4 flex justify-center">
  <div class="w-full max-w-5xl flex justify-around">
    <a
      class="text-lg font-semibold text-gray-800 hover:text-blue-500 hover:underline hover:cursor-pointer"
      routerLink="/products"
      routerLinkActive="text-green-600 underline"
    >
      View Products
    </a>
    <a
      class="text-lg font-semibold text-gray-800 hover:text-blue-500 hover:underline hover:cursor-pointer"
      routerLink="/swapi"
      routerLinkActive="text-green-600 underline"
    >
      Swapi
    </a>
    <a
      class="text-lg font-semibold text-gray-800 hover:text-blue-500 hover:underline hover:cursor-pointer"
      routerLink="/create"
      routerLinkActive="text-green-600 underline"
    >
      Create Product
    </a>
  </div>
</section>
